body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.card{
    padding: 2em;
    border: 1px solid #888;
    border-radius: 20px;
    background-color: #F4F6F8;
    color: black !important;
}

.grid{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 400px 400px ;
    gap:2rem;
   margin-left: 25%;
   margin-top: 20%;
}

.grid a{
    text-decoration: none !important;
}

.footer{
 background-color: black;
 margin-top: 40px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1.5rem;
    margin-left: 40px;
    padding-top: 30px;
  }
  
  .footer .box-container .box{
    padding: .5rem 0;
    font-size: 2rem;
    color:white;
    font-weight: 800;
  }
  
  .footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 12px;
    color:white;
    text-decoration: none;
  }
  
  .footer .box-container .box a:hover{
    /* color: ; */
    text-decoration: underline;
  }
  
  .credit{
    font-size: 1rem;
    text-align: center;
    /* padding: .5rem; */
    color: white;
    /* padding-top: 1rem;
    margin-top: 1.5rem; */
    /* background-color: white; */
  }
  
  .credit span{
    color:white; 
    /* font-weight: bolder; */
    font-size:1rem;
  }